body{
    font-family: 'Arial', sans-serif;
}



.menu-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #87ffa5;
    padding: 10px;
    margin-bottom: 15px;
}

.pokedex-label {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
    font-style: italic;
    color: #000000;
}


.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #c7ffd5;

}


.poke-lista{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 2;

}

.pokemon-item{
    background-color: #a2ff8f;
    border: 2px solid #000000;
    padding: 10px;
    display: flex;
    flex-direction: row;
}


.info-item{
    flex-grow: 3;
}

.img-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    flex-grow: 1;
}


.poke-img{
    max-width: 100px;
    max-height: 100px;
}

.añadir-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
    margin-bottom: 20px;
}


.añadir-btn{
    font-size: 24px;
    font-weight: bolder;
    background-color: #0f6421;
    border: 1px solid #000000;
    border-radius: 10px;
    min-width: 500px;
    margin-bottom: 20px;
}

.cancelar-btn{
    font-size: 24px;
    font-weight: bolder;
    background-color: #ff4b4b;
    border: 1px solid #000000;
    border-radius: 10px;
    min-width: 500px;
}



.añadirPokemon-label {
    color: #ffffff;
}



.input{
    font-size: 18px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color:#000000;
    min-width: 550px;
}

.añadir-pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 3;
    
}


.añadirPokemon-titulo{
    font-size: 28px;
    font-weight: bolder;
    margin-bottom: 10px;
}


.pokemon-form{
    display: flex;
    flex-direction: column;
    min-width: 550px;
}


.input-title{

    font-size: 20px;
    font-weight: bolder;
    color: #000000;
}


.errores{
    margin: 10px 0px 10px 0px;
    color: red;
    min-width: 500px;
}